MOCK_SFTP_ROOT=./mock-sftp
TRANSACTION_SFTP_HOST=localhost
TRANSACTION_SFTP_PORT=2222
TRANSACTION_SFTP_USERNAME=mockuser
TRANSACTION_SFTP_PASSWORD=mockpass
TRANSACTION_SFTP_PRIVATE_KEY_PATH=
TRANSACTION_SFTP_REMOTE_DIR=.
TRANSACTION_SFTP_POLL_ENABLED=true
TRANSACTION_SFTP_POLL_FIXED_DELAY_MS=30000
TRANSACTION_SFTP_POLL_INITIAL_DELAY_MS=5000
APP_TRANSACTIONS_STORE_TYPE=postgres
TRANSACTION_IMPORT_S3_BUCKET=
TRANSACTION_IMPORT_S3_REGION=ap-southeast-1
TRANSACTION_IMPORT_S3_ENDPOINT=
TRANSACTION_IMPORT_S3_PATH_STYLE_ACCESS_ENABLED=false
TRANSACTION_IMPORT_S3_ACCESS_KEY_ID=
TRANSACTION_IMPORT_S3_SECRET_ACCESS_KEY=
